@use 'sass:color';

@use '@material/theme/index' as theme with (
	$primary: #abc7ff,
	$secondary: #abc7ff,
	$background: #1c1b1f,
	$surface: #1c1b1f,
	$error: #f2b8b5,
	$on-primary: #002e6b,
	$on-secondary: #002e6b,
	$on-surface: #e6e1e5,
	$on-error: #601410
);

@use '@material/linear-progress/index' as linear-progress with (
	$baseline-buffer-color: #303030
);

@use '@material/elevation/index' as elevation with (
	$baseline-color: gray
);

@use '../app';

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
}
