@use 'sass:color';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #abc7ff,
	$secondary: #abc7ff,
	// $secondary: #9dcaff,
	$background: #1c1b1f,
	$surface: #1c1b1f,
	$error: #f2b8b5,
	$on-primary: #002e6b,
	$on-secondary: #002e6b,
	// $on-secondary: #00325a,
	$on-surface: #e6e1e5,
	$on-error: #601410
);

@use '../app';

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
}
